{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

<div style="margin-left: 10%; margin-top: 2%;">

    <hgroup>
        <h1 style="color:#2563eb">Tech for creating our dreams</h3>
        <p>Many small steps lead to great distances.</p>
    </hgroup><small>I am extremely excited about...</small>

    <p/>
    
    <ul><small>
            <li>Getting ambitious things done.</li>
        </small><small>
            <li>Always having the long-term view.</li>
        </small><small>
            <li>Building long-term partnerships.</li>
        </small><small>
            <li>Investing in startups.</li>
        </small><small>
            <li>Improving the transparency and oversight of what we are accomplishing.</li>
        </small><small>
            <li>Working on projects for a <em style="color:#c026d3">sustainable</em> future.</li>
        </small></ul><br />

</div>